body{
    margin: 0;
    padding: 0;
}


.header{
    background-color: #8caee5;
}

.flipkart{
    margin-left: 15%;
}

.header-main{
    margin-left: 26%;
    margin-top: -35px;
    
}

.input{
    width: 42%;
    border: none;
    outline: none;
    background-color: #fff6f6;
    border-radius: 6px;
    height: 25px;
    padding-left: 50px;
}

.Search {
    margin-left: 58%;
    margin-top: -27px;
}

.writing{
  
    margin-left: 67%;
    margin-top: -45px;

}

.writing2{
    margin-left: 72%;
    margin-top: -35px;
}

.writing3{
    margin-left: 81%;
    margin-top: -35px;
}

.cart{
    margin-left: 87%;
    margin-top: -35px;
}

.writing4{
    margin-left: 89%;
    margin-top: -38px;
}



.login{
    margin-left: 40%;
    margin-top: 70px;
 
}

.logon{
    width: 200px;
}

.logon2{
    margin-left: 19px;
    width: 200px;
 
}

.submit{
    margin-left: 10%;
    margin-top: 15px;
}

.new{
    margin-left: 46%;
    margin-top: 20%;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #8caee5;
}

.about{
    margin-left: 7px;
}
